*~
.DS_Store


*.aux
*.log
table_template.pdf
.vscode/settings.json
scripts/eczoo_data.code-workspace
.codex
scripts/arxiv_ids.txt
scripts/__pycache__/
scripts/__pycache__/download_arxiv_papers.cpython-38.pyc
scripts/__pycache__/extract_arxiv_ids.cpython-38.pyc
scripts/__pycache__/standardize_manual_cites.cpython-312.pyc
resources/eczoo_data.linux.code-workspace
resources/ieee_api_key.txt
.venv/lib64
.venv/bin/python
.venv/bin/python3
.venv/bin/python3.10
.venv/pyvenv.cfg
.venv-1/lib64
.venv-1/bin/python
.venv-1/bin/python3
.venv-1/bin/python3.10
.venv-1/pyvenv.cfg
.venv-2/lib64
.venv-2/bin/python
.venv-2/bin/python3
.venv-2/bin/python3.10
.venv-2/pyvenv.cfg
scripts/lint/__pycache__/standardize_citation_locators.cpython-310.pyc
